// Removes sideways scrollbar, and always has a full background.
html{
	position: relative;
	min-width: 100%;
	min-height: 100%;
	overflow-x: hidden;
}

// Sets default font to Nexa, pads content so the navbar doesn't overlap, and sets a default background and text colour.
body{
	min-width: 100%;
  min-height: 100%;
	font-family:Nexa;
	padding-top: 4*$spacing-unit;
	padding-bottom: $spacing-unit;
	background-color: $color-background;
	color:#FFF;
	background-image:url("../img/earth.png"),url("../img/stars.png");
	background-repeat:no-repeat;
}

// Icon Manipulation

.black-icon{
	color: black;
}
a.black-icon:hover{
	color: black;
}
a.black-icon:visited{
	color:black;
}

.logo{
	max-width: 25%;
	margin-left: auto;
	margin-right: auto;
	background-color:white;
	border-radius: 10px;
}

.index-filter {
	background-color:rgba(0,0,0,0.4);
	padding-top:2%;
	padding-bottom:2%;
}
