/*
WAC Website Stylesheet
Version: 2.0.0 (Last Major Release Edited)
Written by @malsf21, @jacksarick, @obrien66
*/

// Variables

$color-primary: #5C7BA3;
$color-background: #2A262A;
$spacing-unit: 1em;

$instagram-color: #9C27B0;

@import
	"main",
	"fonts"
;
